.button {
  @apply py-3 px-4 rounded-[10px]  font-medium text-[16px] flex items-center justify-center transition-all;

  &_primary {
    color: var(--color-primary);
    background-color: var(--color-secondary);

    &:hover {
      background-color: var(--button-bg-hover);
    }
  }

  &_transparent {
    @apply bg-transparent;
    color: var(--error-color);
  }

  &_disable {
    @apply bg-[#6f6f83] text-[#ffffff] cursor-not-allowed px-8;
  }

  &_fullWidth {
    @apply w-full;
  }
}
