.client_details_mainwrap {
  @apply flex flex-col;
  &_para {
    color: var(--subtitle-content);
    @apply font-[500px] text-[13px] mb-[16px];
  }

  &_section {
    @apply flex;
    &_img {
      @apply w-[260px] h-[260px] me-[32px] border border-dashed pt-[54.5px] rounded-[10px]  flex-shrink-0;
      border-color: var(--border-color);
    }
    &_form {
      @apply w-full;
    }
  }
}

.analytics_section_para {
  @apply font-normal text-[14px];
  color: var(--color-primary);
}

.analytics_section_buttons {
  @apply flex gap-2;
}

.checkboxLabel {
  @apply ms-[6px] text-[13px] font-[400px];
  color: var(--color-primary);
}
.checkboxContainer {
  @apply flex items-center cursor-pointer;
  position: relative;
}

.hiddenCheckbox {
  @apply hidden;
}

.customCheckbox {
  @apply w-[19.5px] h-[19.5px] rounded border border-gray-300;
  background-color: white;
  position: relative;
}

.hiddenCheckbox:checked + .customCheckbox {
  background-color: var(--checkbox-accent);
}

.hiddenCheckbox:checked + .customCheckbox::after {
  content: '';
  position: absolute;
  top: 3px;
  left: 6px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
