:root {
  --color-primary: #2c2c2c;
  --border-color: #2c2c2c1a;
  --color-primary-bg: #2c2c2c0d;

  --color-secondary: #eba832;
  --color-success: #75706f;
  --color-success-bg: #ff808026;
  --common-background-color: #ffffff;
  --light-text-color: #ffffff80;
  --placeholder-text-color: #2c2c2c66;

  --common-background-color-80: #ffffffcc;
  --color-green: #22c55e;
  --title-color: #ffffff;
  --placeholder-text-color: #2c2c2c66;
  --pages--component-bg: #f4f5f6;

  --button-bg-hover: #eba832;

  --color-input-placeholder: #04203666;
  --color-primary-opacity-80: #042036cc;

  --error-color: #ff0000;

  --success-color: #22c55e;

  --subtitle-content: #2c2c2c99;

  --input-border-color: #2a395026;

  --checkbox-accent: #66b5b3;

  --dashed-border: #2c2c2c33;
}
