.breadcrumb {
  @apply text-xs font-medium;
  .link {
    @apply opacity-80;
    color: var(--color-primary);
  }
  .slash {
    color: var(--subtitle-content);
  }
  .current {
    @apply text-xs font-normal;
    color: var(--subtitle-content);
  }
}

.slash {
  @apply ms-1 me-1 text-[#2C2C2C99] font-[400] text-[13px];
}
