.addUser_popup {
  @apply fixed inset-0 flex justify-center items-center bg-black bg-opacity-50 z-50;
}

.addUser_popup_content {
  @apply bg-white min-h-48 p-4 rounded-[20px] w-[500px] h-auto relative;
}

.addUser_popup_header {
  @apply flex justify-between items-center;
}

.addUser_popup_close {
  @apply cursor-pointer;
}

.addUser_popup_close_icon {
  @apply h-6 w-6;
}

//
.modal_container_content_body {
  @apply flex flex-col items-center text-center p-6 border border-black;
}

.success_icon {
  @apply mb-7 mt-2;
  img {
    @apply w-[72px] h-[72px];
  }
}

.modal_container_content_body_message {
  @apply mb-7;
  color: var(--color-primary-opacity-80);

  &_subtitle {
    @apply opacity-50;
    color: var(--color-primary);
  }
}

.email {
  color: var(--color-primary);
}

.modal_container_button {
  @apply w-[106px] h-[48px] text-[#FFFFFF] ps-[12px] pe-[12px] pt-[20px] pb-[20px] rounded-[8px] text-[16px];
}
