.modal_container {
  @apply fixed inset-0 flex items-center justify-center z-50;
  &_content {
    @apply bg-[#FFFFFF] rounded-lg w-[500px] h-[266px] mx-auto relative shadow-md;

    &_close {
      @apply absolute top-3 right-3 cursor-pointer;
    }
    &_body {
      @apply flex flex-col items-center text-center p-6;
    }
  }
}

.success_icon {
  @apply mb-7 mt-2;
  img {
    @apply w-[72px] h-[72px];
  }
}

.modal_container_content_body_message {
  @apply mb-7;
  color: var(--color-primary-opacity-80);

  &_subtitle {
    @apply opacity-50;
    color: var(--color-primary);
  }
}

.email {
  color: var(--color-primary);
}

.modal_container_button {
  @apply w-[106px] h-[48px] text-[#FFFFFF] ps-[12px] pe-[12px] pt-[20px] pb-[20px] rounded-[8px] text-[16px];
}
