.bottomBarWrapper {
  @apply flex justify-between items-center px-6 py-3 bg-white shadow;

  &_sticky {
    @apply sticky bottom-0 flex justify-between items-center px-6 py-3 h-[72px] bg-white shadow;
  }
}

.bottomBarLeft {
  @apply flex items-center gap-2 text-sm opacity-70;
  color: var(--color-primary);
}

.bottomBarRight {
  @apply flex items-center gap-4;
}

.previewButton {
  @apply flex items-center justify-center gap-1 text-sm opacity-70 hover:opacity-70 leading-6  w-[150px] h-[48px];
  color: var(--color-primary);
}

.saveButton {
  @apply px-4 py-2 rounded-xl font-medium  h-[48px] w-[123px];
  color: var(--color-primary);
  background-color: var(--color-secondary);

  &:hover {
    background-color: var(--button-bg-hover);
  }
}

.bottomBarWrapper_display_none {
  display: none;
}
